.bdimg{
	float:right;
}


/*设置注册背景*/
.reg_box{
	width: 100%;
    height: 785px;
    position: relative;
	.banner{
		width:100%;
		height:785px;
		background:url(../img/register/bj.jpg) center center;
	}
}
/*设置注册页面*/
.reg{
	box-sizing: content-box;
	position:absolute;
	width:326px;
	height:459px;
	background:#fff;
	z-index:5;
	left:55%;
	top:10%;
	padding:30px 70px;
	padding-bottom:130px;
	.reg_t{
		/*overflow*/

		p{
			span{
				color:black;
				font-weight:bold;
				font-size:30px;
			}
			color:#c4c4c4;
		}
		.reg_r{
			float:right;
			a{
				color:#00c8ff;
				font-size:22px;
			}
		}	
	}
	ul{
		margin-top:60px;
	}
	ul li{
        height:30px;
        width:326px;
        margin-top:30px;
        input{
        	 height:36px;
        	width:326px;
        	border: 1px #c4c4c4 solid;
        	border-radius:5px;
        	padding-left: 10px;
        }
        img{
        	display:inline-block;
        	margin-left:20px;
        	margin-right:20px;
        	position:relative;
        	top:10px;
        }
        .code{
        	width:150px;
        }
        #code_btn{
        	color:#00c8ff;
        	cursor:pointer;
        }
	}

	#reg_btn{
		width:326px;
		background:#00c8ff;
		height:36px;
		border:none;
		margin-top:30px;
		color:#fff;
		font-size:20px;
		cursor:pointer;
	}
	.pro a{
		color:#00c8ff;
	}

/*设置注册底部*/
	.reg_b{
		margin-top:10px;
		font-size:12px;
		border-top:1px dotted #ccc;
		i{
			font-size:25px;
			color:#00c8ff;
			margin-left:7px;
			a{
				font-size:15px;
				margin-left:5px;
			}
		}
	}

.error{
	margin-top:3px;
}

}

/*设置输入框聚焦时的阴影*/

.input_active{
	box-shadow:0 0 7px #0dcafe;
	border:1px #0dcafe solid;
}