@charset "UTF-8";
/*设置内容整体颜色*/
main {
  background: #f6f6f3;
  /*height:1500px;*/
  min-width: 1100px;
}

.content {
  position: relative;
  margin-bottom: 30px;
}

/*透明度轮播图,设置全部图片绝对定位*/
#lb_active {
  background: #00c8ff;
}

.imageList img {
  position: absolute;
  width: 100%;
  /*图片太大了，不这样设置会出现滚动条*/
  height: 350px;
  min-width: 1100px;
}

.imageList {
  height: 350px;
  position: relative;
}

.imageList .round {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -50px;
}

.imageList .round span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #ccc;
  z-index: 23;
  margin-left: 10px;
}

.content_box {
  margin-top: 40px;
}

.content_box h1 {
  color: #000;
  font-size: 24px;
  text-align: center;
}

.content_box .content_img {
  width: 650px;
  height: 350px;
  float: left;
  cursor: pointer;
}

.content_box .content_list {
  height: 350px;
  margin-top: 20px;
  background: #fff;
  line-height: 2;
}

.content_box .content_c {
  padding: 40px 20px;
  /*display:table-cell;*/
  position: relative;
}

.content_box .content_c .time {
  text-align: center;
}

.content_box .content_c .buycar {
  width: 140px;
  height: 36px;
  margin-top: 30px;
  background: #ff643c;
  color: #fff;
  border: none;
  font-size: 20px;
}

.content_box .content_c .pp {
  position: absolute;
  bottom: 40px;
  right: 50px;
}

.content_box .content_c .pp .buycar {
  cursor: pointer;
}

/*设置tab切换*/
.tabbig {
  margin-top: 30px;
}

.tabbig .tab {
  font-size: 15px;
  font-weight: bold;
  color: #000;
  position: relative;
  border-bottom: 1px solid #000;
}

.tabbig .tab span {
  text-align: center;
  width: 140px;
  display: inline-block;
  padding-bottom: 10px;
  cursor: pointer;
}

.tabbig .tabimg {
  margin-top: 10px;
}

.tabbig .tabimg td {
  padding: 5px;
  cursor: pointer;
}

.tabbig .tabimg table {
  display: none;
}

/*tab生成bottom下横线*/
.tabbottom {
  border-bottom: 2px solid #00c8ff;
}

/*设置侧边导航栏*/
.sidebox {
  position: absolute;
  top: 30%;
  left: 70px;
  display: none;
  /*设置侧边导航栏点击效果*/
}

.sidebox li {
  text-align: center;
  width: 60px;
  height: 60px;
  /*line-height:60px;*/
  background: #fff;
  font-size: 15px;
  border-bottom: 1px dotted #000;
  line-height: 26px;
  padding-top: 5px;
  cursor: pointer;
}

.sidebox li i {
  font-size: 25px;
  /*color:#00c8ff;*/
  padding-bottom: 5px;
}

.sidebox .side-active {
  background: #00c8ff;
  color: #fff;
}

.sidebox #sidefirst {
  background: #00c8ff;
  color: #fff;
}

/*设置商品列表*/
.content_box_center {
  margin-top: 30px;
}

.content_box_center h2 {
  font-size: 18px;
  color: #000;
}

.content_box_center h2 span {
  margin-left: 12px;
}

.content_box_center ul {
  margin-left: -25px;
}

.content_box_center li {
  float: left;
  width: 350px;
  /*height: 507px;*/
  margin: 15px 0 0 25px;
}

.content_box_center li .goods_img {
  position: relative;
}

.content_box_center li .goods_msg {
  width: 350px;
  height: 160px;
  background: #fff;
  padding: 18px 20px;
  padding-top: 20px;
}

.content_box_center li .goods_msg .goods_buy {
  margin-top: 20px;
}

.content_box_center li .goods_msg .tg {
  margin-top: 10px;
  border-top: 1px dotted #c4c4c4;
  line-height: 25px;
}

.content_box_center li .goods_msg .tg i {
  color: #c4c4c4;
  font-style: normal;
}

.content_box_center li .goods_msg .tg .tg_l i {
  font-size: 12px;
}

.content_box_center li .goods_msg .goods_buy_l {
  float: left;
}

.content_box_center li .goods_msg .goods_buy_l span {
  font-size: 36px;
  color: #ff643c;
  font-weight: bold;
}

.content_box_center li .goods_msg .goods_buy_l i {
  font-style: normal;
  color: #ff643c;
  font-size: 12px;
  font-weight: bold;
}

.content_box_center li .goods_msg .goods_buy_r {
  float: right;
  /*margin-top:40px;*/
}

.content_box_center li .goods_msg .goods_buy_r .goods_car {
  background: #ff643c;
  height: 30px;
  border: none;
  cursor: pointer;
}

.content_box_center .yc {
  position: absolute;
  bottom: 0;
  left: 20%;
}

.content_box_center .yc a {
  color: #00c8ff;
  margin-right: 15px;
  display: inline-block;
  border: 1px #00c8ff solid;
  border-radius: 3px;
  padding: 4px 11px;
}

/*设置右侧购物车*/
.rightcar {
  width: 35px;
  min-height: 100%;
  background: #6c6c6c;
  position: fixed;
  right: 0;
  top: 0;
  text-align: center;
  z-index: 99;
  /*.gwczt{width:30px;line-height:2;text-align:center;}*/
}

.rightcar ul {
  margin-top: 200px;
}

.rightcar ul li {
  margin-top: 20px;
}

.rightcar ul li:hover {
  background: #00c8ff;
}

.rightcar ul .preonli {
  position: relative;
  margin-bottom: 50px;
}

.rightcar ul .preonli .preson {
  position: absolute;
  left: -115px;
  top: 0px;
  background: #6c6c6c;
  padding: 10px;
  z-index: 23;
  display: none;
  width: 120px;
}

.rightcar li a {
  color: #fff;
}

.rightcar li i {
  font-size: 25px;
}

.rightcar .js {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgba(237, 138, 22, 0.3);
  display: inline-block;
  position: absolute;
  top: -27px;
  color: #fff;
  line-height: 30px;
  font-size: 17px;
}

.carbox {
  width: 400px;
  height: 1000px;
  position: fixed;
  right: 0;
  top: 0;
  background: #fff;
  display: none;
}

.u-flyer {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
